// Specific CSS for your home-page
.home-card {
  height: 350px;
  margin: 30px 0px 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-card .avatar-large {
  display: block;
  padding: 10px;
}

.home-card-title {
  position: absolute;
  top: 0px;
  align-items: center;
  h4 {
    text-align: center;
    font-size: 24px;
    color: $blue;
    display: block;
  }
}
.home-card-description {
  position: absolute;
  display: block;
  top: 300px;
  p {
    text-align: center;
    font-size: 18px;
    color: $blue;
  }
}

.title-padded {
  padding-bottom: 40px;
}
