<div class="wrapper">
  <div class="container">
    <%= simple_form_for [@booking] do |f| %>
      <%= f.input :feedback %>
      <%= f.submit "Enter feedback", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
