<% if policy(@user).show? %>

  <h1>Hello <%= @user.email %></h1>

  <% if current_user == @user %>
    <h2>Current Bookings</h2>

    <% @user.bookings.each do |booking| %>
      <h2><%= booking.lesson.user.email %></h2>
      <p> <%= booking.description %></p>
    <% end %>
  <% else %>
    <h1>You do not have access to their bookings</h1>
  <% end %>
<% end %>
