<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="card">
        <div class="card-user-img" style="background-image: url('/assets/geoff.jpeg');">
          <div class="card-user-name"><h2>Coach-Name</h2>
          </div>
          <div class="card-user-description"><p>Some descriptive detail about the coach, or perhaps icons - TBC</p></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="card">
        <div class="card-user-img" style="background-image: url('/assets/geoff.jpeg');">
          <div class="card-user-name"><h2>Coach-Name</h2>
          </div>
          <div class="card-user-description"><p>Some descriptive detail about the coach, or perhaps icons - TBC</p></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="card">
        <div class="card-user-img" style="background-image: url('/assets/geoff.jpeg');">
          <div class="card-user-name"><h2>Coach-Name</h2>
          </div>
          <div class="card-user-description"><p>Some descriptive detail about the coach, or perhaps icons - TBC</p></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="card">
        <div class="card-user-img" style="background-image: url('/assets/geoff.jpeg');">
          <div class="card-user-name"><h2>Coach-Name</h2>
          </div>
          <div class="card-user-description"><p>Some descriptive detail about the coach, or perhaps icons - TBC</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
