<div class="banner">
  <div class="banner-content"">
    <h1>Remote Swim Technique Coaching</h1>
    <%# link_to middle_path do  %>
      <h2 class="btn btn-success">How You Improve</h2>
    <%# end %>
  </div>
</div>

