<div class="banner">
  <div class="banner-content"">
    <h1>Coach My Swim</h1>
    <h2>Remote Swim Technique Coaching</h2>
    <%# link_to middle_path do  %>
      <h3 class="btn btn-success">How You Improve</h3>
    <%# end %>
  </div>
</div>

